.task {
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    max-width: 100%;
    min-width: var(--min-width);
    border: 1px solid #000;
    background-color: rgb(81, 72, 88);
    padding: 4px 8px;
    transition: all 0.3s linear;
    position: relative;
}

.done {
    background-color: rgb(120, 95, 203);
}

.taskCheck {
    accent-color: green;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.taskName {
    flex: 1;
    margin: 0 8px;
}

.done .taskName {
    text-decoration: line-through;
}

.btn {
    font-weight: bold;
    border: 1px solid #e37a118c;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-color);
}

.editButton {
    background-color: rgb(116, 139, 14);
    padding: 8px 11px;
}

.disabled {
    cursor: no-drop;
    opacity: 0.5;
}

.deleteButton {
    background-color: rgb(107, 14, 6);
    padding: 8px 4px;
    margin-left: 8px;
}
