@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color: #f4ddd5;
    --min-width: 340px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    color: var(--text-color);
    margin: 0 auto;
    background: url('../../assets/image/bg-image.jpg') center/cover no-repeat fixed;
}

.App {
    padding: 0 8px 32px 8px;
}

.appHeader {
    text-align: center;
    margin: 32px auto;
    min-width: var(--min-width);
    text-shadow: 2px 2px #0e0b015a;
}

.appHeader h1 {
    color: #d56f2f;
}

.appHeader h2,
.appHeader h3 {
    margin-top: 8px;
}
