.taskForm {
    width: 400px;
    min-width: var(--min-width);
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.taskInput {
    flex: 1;
    border: 2px solid #e37a118c;
    border-radius: 5px;
    padding: 8px 8px;
    margin-right: 4px;
    font-size: 16px;
}

.addButton {
    background-color: rgb(8, 81, 8);
    color: var(--text-color);
    font-weight: bold;
    padding: 8px 20px;
    border: 1px solid #e37a118c;
    border-radius: 5px;
    cursor: pointer;
}
